{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="container form login">
    <h1>Connexion</h1>
    <div class="line-title"></div>
    <form method="post">
        <input type="text" name="_username" placeholder="Username" />
        <input type="password" name="_password" placeholder="Password" />
        <button type="submit"class="btn btn-success mt-2">Connexion !</button>
    </form>
  </div>




{% endblock %}
