{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block body %}
    
    <h1 class="center">Modifier une catégorie</h1>
    
    <div class="content-form">
    {{ form_start(form, {attr: {class: 'formulaire'} }) }}
    
    {{ form_widget(form) }}
    
    <a href="{{ path('categorie_list') }}"class="btn btn-primary">Annuler !</a> 

    <button type="submit" class="btn btn-primary">Enregistrer !</button>
    
    {{ form_end(form) }}
    </div>
    
{% endblock %}
