/* Css theme*/

.center {
  text-align: center;
}

/* header*/
ul li{
  display: inline;
  list-style-type: none;
}


/* Titre*/
div.line-title{
background: black;
height: 1px;
width: 100px;
margin: auto;
display: block;
}

/* Font-size*/
.list-group .btn-info{
  font-size: 12px;
}

/* formulaire surcouche css*/
.form input,.form textarea{
  display: block;
width: 100%;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form.login input{
  margin: 25px 0px;
}

/* Page article */

a.view-article {
  display: block;
  margin: 10px 0;
}

/* Formualire */
div.content-form {
  display: flex;
  justify-content: center;
}

form.formulaire {
  width: 30%;
}

div.content-form label {
  display: block;
}

div.content-form input, div.content-form textarea {
  border-radius: 3px;
  border: 1px solid #BDBDBD;
  width: 100%;
}

div.content-form input:hover, div.content-form textarea:hover {
  border-radius: 3px;
  border: 1px solid #2196F3;
  width: 100%;
}

div.content-form button {
  margin-top: 10px;
  float: right;
}

input#cb {
  margin: 20px 0;
  height: 40px;
}