{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
<div class="container form">
  <h1 class="text-center">Créer un utilisateur</h1>
  <div class="line-title"></div>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit"class="btn btn-success mt-4">Créer un utilisateur</button>
  {{ form_end(form) }}
</div>
{% endblock %}
