{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}

    <h1>Modifier un utilisateur</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit">Modifier un utilisateur</button>

    {{ form_end(form )}}

{% endblock %}
