{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}

    <h1 class="text-center">Liste des categories</h1>
    <div class="line-title mb-5"></div>

    <a href="{{ path('categorie_new') }}"class="btn btn-primary">Créer !</a>    

    <div class="container">
      <ul class="list-group">
        {% for categorie in categories %}
          <li class="list-group-item">
            <h2>{{ categorie.nom }}</h2><a href="{{ path('categorie_edit', {'id': categorie.id}) }}"class="btn btn-primary">Editer</a>     
          </li>
        {% endfor %}
      </ul>
    </div>

{% endblock %}