{% extends 'base.html.twig' %} 

{% block title %}Vendre un article{% endblock %}

{% block body %}

<div class="container form">
    <h1 class="text-center">Vendre un article</h1>
    <div class="line-title mb-5"></div>

    {{ form_start(form) }} 
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success mt-4">Vendre article !</button>
    {{ form_end(form) }}
</div>
{% endblock %}