{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    
    <h1 class="center">Modifier un article</h1>
    
    <div class="content-form">
    {{ form_start(form, {attr: {class: 'formulaire'} }) }}
    
    {{ form_widget(form) }}
    
    <button type="submit" class="btn btn-primary">Enregistrer !</button>
    
    {{ form_end(form) }}
    </div>
    
{% endblock %}
